<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' type='text/css' href='css/main.css'>
    <link rel='stylesheet' type='text/css' href='css/bootstrap.css'>
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <title>Contact Us | SachVishwas</title>
</head>
<body>

    {% include 'navbar.html'%}

    <div class = "container">
        <p>Contact Us<br>
        Phone: +91-9604099446<br>
        Email: sachin.waghmode@sachvishwas.com</p>
    </div>
    
    <div class="footer">
        <p>Copyright &copy; 2020 SachVishwas Private Limited. All Rights Reserved.</p>
    </div>
</body>
</html>